<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : initPay This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
 -->
<ion-content>
  <div class="login-screen">
    <div class="top-background"></div>
    <div class="main-content">
      <ion-label class="head">Set your password</ion-label>
      <div class="img-item">
        <img src="assets/images/shield.png" alt="" class="img-tag">
      </div>
      <ion-label class="sub">Please set your strong password <br> to complete registrations</ion-label>

      <div class="password-content">
        <ion-item lines="none" class="password-input">
          <ion-icon name="lock-closed" slot="start"></ion-icon>
          <ion-input placeholder="Password" type="password" name="password"
            [type]="viewPassword== true?'text':'password'"></ion-input>
          <ion-button (click)="changeType()" fill="clear" slot="end" class="toggle_btn">
            <ion-icon slot="icon-only" [name]="viewPassword == true? 'eye-outline':'eye-off-outline'">
            </ion-icon>
          </ion-button>
        </ion-item>

        <ion-item lines="none" class="password-input">
          <ion-icon name="lock-closed" slot="start"></ion-icon>
          <ion-input placeholder="Confirm Password" type="password" name="password"
            [type]="viewPassword== true?'text':'password'"></ion-input>
          <ion-button (click)="changeType()" fill="clear" slot="end" class="toggle_btn">
            <ion-icon slot="icon-only" [name]="viewPassword == true? 'eye-outline':'eye-off-outline'">
            </ion-icon>
          </ion-button>
        </ion-item>
      </div>

      <ion-button expand="block" (click)="onFingerPrints()">
        Continue
      </ion-button>
    </div>
  </div>
</ion-content>