<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : initPay This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
 -->
<ion-content>
  <div class="login-screen">
    <div class="top-background"></div>
    <div class="main-content">
      <ion-label class="head">Register</ion-label>
      <div class="img-item">
        <img src="assets/images/password.png" alt="" class="img-tag">
      </div>
      <ion-label class="sub">Input Phone Number to Continue <br> the registrations</ion-label>

      <ion-row class="mobile-item">
        <ion-col size="3" class="d-flex-center cc-border">
          <ion-label>🇺🇸 +1</ion-label>
        </ion-col>
        <ion-col size="9" class="d-flex-center mobile-border">
          <ion-input type="number" placeholder="(968) 4235 - 546 - 333"></ion-input>
        </ion-col>
      </ion-row>

      <ion-button expand="block" (click)="onVerification()">
        Continue
      </ion-button>
    </div>
  </div>
</ion-content>