<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : initPay This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
 -->
<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar color="primary">
    <ion-title>Success</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="success-screen">
    <div class="top-background"></div>

    <div class="main-content">
      <div class="profile-content">
        <div class="finger-lock-screen">

          <div class="img-item">
            <img src="assets/images/verified.gif" alt="" class="img-tag">
          </div>

          <ion-label class="head">Success Transaction</ion-label>

          <ion-label class="sub-finger">You have success paid for electricity<br> transaction
            from initPay</ion-label>

          <div class="breaker"></div>

          <ion-row class="payment-info">
            <ion-col size="5">
              <ion-label class="payment-title">Balance in Wallet</ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label class="payment-sub-title">$27.3362</ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="payment-info">
            <ion-col size="5">
              <ion-label class="payment-title">Invoice</ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label class="payment-sub-title">INV/223/11/444/55</ion-label>
            </ion-col>
          </ion-row>

          <div class="breaker"></div>

          <ion-button expand="block" (click)="onHome()">
            Back to Home
          </ion-button>
        </div>
      </div>
      <div class="spacer"></div>
    </div>

  </div>
</ion-content>