<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : initPay This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
 -->
<ion-content class="ion-padding">
  <div class="finger-lock-screen">
    <ion-label class="head">Fingerprint</ion-label>
    <ion-label class="sub-finger">Place your finger in fingerprint<br> sensor until the icon completely</ion-label>
    <div class="img-item">
      <img src="assets/images/fingerprint.png" alt="" class="img-tag">
    </div>

    <ion-button expand="block" (click)="onHome()">
      Continue
    </ion-button>
  </div>
</ion-content>